@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --first: #372948;
  --second: #AB80E0;
  --third: #898194;
  --fourth: #251B37;
  --theme_white: #FFECEF;
  --theme_complementary: #949237;
}

body {
  background: var(--first) !important;
  color: var(--theme_white);
}

.color-complementary {color: var(--theme_complementary)}
.color-third{color: var(--third)}

.row {
  position: relative;
}

.input-group {
  position: relative;
}

.input-icon-group {
  position: absolute;
  background-color: #949237;
  height: 100%;
  width: 40px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.input-icon {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: auto !important;
  top: 50%;
  left: 50%;
  width: 40px;
  transform: translate(-50%, -50%);
}

.search-icon-group {
  position: absolute;
  background-color: var(--second);
  height: 100%;
  width: 80px;
  right: 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  display: flex;
}

.search-icon {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: auto !important;
  top: 50%;
  left: 50%;
  width: 40px;
  transform: translate(-50%, -50%);
}

input {
  padding-left: 50px !important;
  color: var(--theme_complementary);
  font-weight: bold;
}

.bg-fourth {
  background: var(--fourth) !important;
}


.leaflet-container {
  width: 100% !important;
  height: 100vh !important;
}

/* Map */
.map iframe {
  height: 400px;
  width: 100%;
}
